body {
    font-family: Arial, sans-serif;
    text-align: center;
}

#controls {
    margin-bottom: 20px;
}

input {
    width: 50px;
    margin: 5px;
}

button {
    margin: 5px;
    padding: 5px 10px;
}

#grid-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

canvas {
    border: 2px solid black;
    background-color: white;
}

.a-img {
    width: 50px;  /* 設定寬度 */
    height: auto;  /* 高度自動調整，維持比例 */
}
